
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Play", sans-serif;    
}
.back-to-top{
    width: 50px;
    height: 50px;
    background-color: #d35400;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 3px;
    box-shadow: 2px 2px 4px #34495e;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-solid{
    font-size: 18px;
    font-weight: 900;
    color: white;
}
.container{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.nav-links{
    display: inline-table;
    justify-content: space-between;
    align-items: right;
    width: 100%;
}
.nav-links li{
    list-style-type: none;   
}
.nav-links li a{
    text-decoration-line: none;
    margin-left: 10px;
    color: gray;
}
.nav-links li a:hover {
    color: black;
}
.logo img{
    width: 150px;
    height: 50px;
}
.fa-bars{
    color: gray;
    margin-right: 20px;
}
.bar{
    display: none;
}
.home{
    background:url(BG\ Image.jpg);
    height: 600px;
    background-size: cover;
}
.Text1 {
    color: white;
    font-weight: 500;
    font-size: 20px;
    position: absolute;
    top: 45%;
    left: 10%;
}
.Text2 { 
    color: white;
    font-weight: 500;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 10%;
}
.product-title{
    text-align: center;
    color: #fe214f;
}
.product-header{
    text-align: center;
    color: black;
}
.product-image{
    width: 100px;
    height: 300px;
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.contact-outer{
    background-color: black;
    height: 500px;
    margin-bottom: 0px;
}
.about-border img{
    width: 100%;
    height: 500px;
    filter: blur(1px)
}
.shadow{
    background-color: rgba(19, 15, 64, 0.7);
    width: 100%;
    height: 500px;
    position: absolute;
    top: 106%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-content{    
    width: 600px;
    height: 80%;
    border: 1px solid white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Title{
    color: #fe214f;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
}
.About{
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 40px;
}
.contact-outer{
    background-color: black;
    width: 100%;
    height: 500px;   
}
.C-Title{
    color: white;
    font-weight: 500;
    font-size: 30px;  
}
.C-Address{
    color: white;
    font-weight: 500;
    font-size: 20px;    
}
.C-Telenum{
    color: white;
    font-weight: 500;
    font-size: 20px;     
}
.C-Email{
    color: #fe214f;
    font-weight: 500;
    font-size: 20px;     
}
.contact-left{
    padding: 50px;
    margin-left: 80px;  
    line-height: 40px; 
}
.contact-right{
    float: right;  
    position: absolute;
    top: 190%; 
    left: 60%;
}
.footer-outer{
    width: 100%;
    height: 300px;
    background-color: #333333;
}
.footer-content{
    display: inline-block;
    line-height: 1.5;
    padding: 50px;
    margin-left: 160px;
}
.Heading{
    color: white;
    font-weight: 500;
    text-align: center;
    font-size: 30px;
}
.Para{
    color: white;
    font-weight: 500;
    text-align: center;
    font-size: 15px;
}
.copy-right{
    text-align: center;
    padding: 60px;   
}
.copy-right-text{
    color: white;
}
.L1{
    color: #f82c37;
    text-decoration-line: none;
}
.L2{
    color: #f82c37;
    text-decoration-line: none;
}